/*font-family: 'Kaushan Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;*/



.block_all {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 17px;
    text-align: center;
}

.menuBox {
    justify-content: space-between;
    display: flex;  
}

.ul {
    list-style: none;
    display: flex;
}

.style {
    margin-left: 55px;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    color: rgba(149, 225, 211, 1);
    font-family: 'Montserrat', sans-serif; 
}

.style:hover {
    color: rgba(243, 129, 129, 1);
}

.style:hover:after {
    opacity: 1;
}

.style:after {
    transition: 0.3s;
    content:"";
    opacity: 0;
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgba(243, 129, 129, 1);

    position: absolute;
    top: 100%;
    left: 0;
}

.TextUp {
    margin-top: 100px;
    font-size: 24px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: rgba(51, 51, 51, 1);
}

.TextDown {
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgba(51, 51, 51, 1);
}

.TextDown2 {
    margin-top: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(182, 182, 182, 1);

}

.textBox {
    text-align: center;
}

.line {
    margin-left: 542px;
    height: 3px;
    width: 60px;
    background-color: rgba(243, 129, 129, 1);
    display: block;
}

.StyleText {
    font-size: 30px;
    font-weight: bold;
    color: rgba(149, 225, 211, 1);
    font-family: 'Montserrat', sans-serif;
}



.boxFoto {
    margin-top: 37px;
    margin-left: 92px;
    margin-right: 30px;
    text-align: center;
    display: flex;  
}

.Box {
    margin-right: 50px;
}

.Img {
    width: 290px;
    height: 370px;
    transition: 0.8s;
}

.Img:hover {
    box-shadow: 0 0 20px black;
    transform: translateY(-10px);
}

.FontStart {
    margin-top: 30px;
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.FontEnd {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style:  italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px; 
    text-align: center;
    color: rgba(182, 182, 182, 1);
}

.Input_style {
    margin-top: 10px;
    height: 39px;
    width: 230px;
    border: 2px solid rgba(182, 182, 182, 1);
}

.Input_style:focus {
    outline: none;
}

::placeholder {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: rgba(182, 182, 182, 1);
}

.info_content {
    margin-top: 80px;
    width: 1200px;
    height: 55px;
    border-top: 2px solid rgba(182, 182, 182, 1);
    display: flex;
    justify-content: space-between;
}

.content_info{
    display: flex;
}

.bottomSubscribe {
    margin-top: 10px;
    width: 150px;
    height: 45px;
    background-color: rgba(149, 225, 211, 1);  
}

.FontEndR {
    font-family: 'Montserrat', sans-serif;
    margin-top: 13px;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.FontA {
  margin-top: 22px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
}

.FontRed{
    color : rgba(243, 129, 129, 1);
}

.TextStyle1 {
    margin: 0px;
    margin-left: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);

}

.TextStyle2 {
    margin-left: 18px;
    height: 37px;
    width: 275.78px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgba(182, 182, 182, 1);
}

.BoxTextInfo{
   margin-top: 65px;
   height: 74px;
   width: 331.78px;
   display: flex;
   margin-left: -5%;
}

.BoxTextInfo2{
    height: 74px;
    width: 331.78px;
    display: flex;
    margin-left: -5%;
    margin-top: 100px;
 }

.FotoAlarm {
    height: 37px;
    width: 37,8px;
    margin-left: 69px;
}

